@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
  box-sizing: border-box;
}

body {
  font-family: Pretendard;
  margin: 0;
  background-color:#fafafa;
}
