.alser{
   width: 100px;
}
.cone{
    top: 50%;
}
.ser{
    display: flex;
    margin-left: -35%;
    border-color: black;
    width: 46vw;
    margin-top: 2.5%;
    max-width: 100px;
}

.alser{
    width: 15vw;
    margin-left: -70%;
    max-width: 15vw;
}
.si .ant-input-wrapper{
    width: 49rem;
}
.ser .ant-btn{
    height: 3rem;
    width: 3rem;
}

.bo{
    display: block;
}
.text{
    margin-top: 10%;
    margin-left: -280%;
}
.bro{
    display: none;
}
#ha{
    height: 67px;
    width: 46vw;
    border: 1px solid #3E3E3E;
    border-right: none;
    max-width: 1000px;
    font: normal normal 600 20px pretendard;
}
.qr{
    margin-top: 15px;
}

@media(min-width:2500px){
    .ser{
        margin-left: -30%;
    }
}
@media(max-width:1360px){
    #ha{
        height: 55px;
    }
}

@media(max-width:1280px){
    .ant-input-wrapper {
        width: 35rem;
    }
    .text{
        margin-left: -180%;
    }
}

@media(max-width:1160px){
    .cone{
        top: 10%;
    }
}

@media(max-width:1000px){
    .ant-input-wrapper {
        width: 20rem;
    }
    .input{
        margin-left: 15%;
    }
    .text{
        margin-left: -150%;
    }
    #ha{
        width: 40vw;
    }
}
@media(max-width:800px){
    .bro{
        display: block;
    }
    .bo{
        display: none;
    }
    .input{
        flex-direction: row;
        flex-wrap: wrap;    
    }
    .text{
        text-align: center;
        margin-left: 25%;
    }
    .cen{
        margin-right: 15%;
    }
    .ser{
        margin-left: -100%;
        min-width: 280px;
        margin-top: 80%;
    }

}

@media(max-width:585px) {
    #ha{
        height: 43px;
        margin-left: 20px;
        width: 220px;
    }
    .qr{
        margin-top: 10px;
        margin-left: 18px;
    }
    
    .text{
        margin-left: 10%;
    }
    .ser{
        margin-left: -140%;
    }
   
}

@media(max-width:501px){
    #ha{
        margin-left: 20px;
    }
    .qr{
        margin-left:0;
    }
    .ser{
        min-width: 60%;
        margin-top: 100%;
    }
}

@media(max-width:450px){
    #ha{
        width: 220px;
        margin-left: 0%;
    }
    .qr{
        margin-left: -30px;
    }
}