.ant-input-wrapper{
    width: 49rem;
}
.ant-input{
    height: 3rem;
    width: 5rem;
}
.ant-btn{
    height: 3rem;
    width: 3rem;
}
#tb{
    margin-bottom: 5%;
}
#text{
    margin-top: 15%;
    margin-left: -250%;
}
#bro{
    display: none;
}
@media(max-width:1280px){
    .ant-input-wrapper {
        width: 35rem;
    }
    #mr{
        margin-right: 4%;
    }
    #text{
        margin-left: 20%;
    }
}
@media(max-width:1000px){
    .ant-input-wrapper {
        width: 20rem;
    }
    #input{
        margin-left: 15%;
    }
}
@media(max-width:800px){
    .ant-input-wrapper {
        width: 20rem;
    }
    #text{
        margin-left: 80%;
    }
    center{
        margin-left: 30%;
    }
    #bro{
        display: block;
    }
    #bo{
        display: none;
    }
    #input{
        flex-direction: row;
        flex-wrap: wrap;    
    }
    #text{
        text-align: center;
        margin-left: 60%;
    }
    center{
        margin-right: 15%;
    }
}