

#inner2{
  width: 40%;
  height: 100%;
  flex-direction: row;
}
.fp-overflow{
  overflow-x:hidden;
  overflow-y:hidden;
}

#fullpage-wrapper{
  background-color: white;
}
.section{
    height: 100vh !important;
    width: auto;
    object-fit: none; 
    white-space:wrap;
}

/* .fullpage-wrapper,
section{
    margin: 0 auto;
    text-align: left;
} */

#first{
  background-image: url("/public/img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#first_one{
  width: 50%;
}
.circle{
  width: 33px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 31px;
  margin-top: 44%;
}
.circle2{
  margin-top: 100%;
}
.circle1{
  margin: 44.8%;
  width: 4px;
  height: 4px;
  border: 1.5px solid #FFFFFF;
  border-radius: 31px;
}
#issue_3{
  margin-left: 14%;
  margin-top:4%;
}
#third{
  background-image: url("/public/img/chart2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}
#third_first{
  background-color: rgba(248, 244, 244, 0.86);
  margin-left: 60%;
  border-radius: 15px;
  width: 25%;
  min-width: 25%;
  overflow-x:hidden;
  overflow-y:hidden;
}

#fourth_one{
  margin-left: 12%;
  margin-bottom: 4%;
  width: 20%;
}
#img0{
  width: 80vh;
}

.fourth_section{
  font: normal normal 600 1.9rem/2.6rem Pretendard;
  white-space: nowrap;
}
#inner{
  margin: 9%;
  min-width: 21%;
  overflow: hidden;
}
#mar{
  margin-left: 60%;
  background-color: white;
  opacity: 0.86;
  border-radius: 15px;
  width: 403px;
  height: 450px;
}
#second_one{
  margin-left: 12%;
  width: 30%;
  margin-top: 1%;
}
#img1{
  margin-top:15%;
  width: 21vw;
}
#img2{
  margin-bottom: 10%;
  width: 21vw;
}
.market{
  color: #1D2088;
  font: normal normal bold 1.3rem/2.6rem Pretendard;
}
.chart{
  font: normal normal bold 1.3rem/2.6rem Pretendard;
  color: #1D2088;
}
#market_2{
  font: normal normal 1rem/1.6rem Pretendard;
  font-weight: 550;
  font-size: medium;
  color: #414141;
  letter-spacing: -0.5px;
}

#chart_2{
  font: normal normal 1rem/1.6rem Pretendard;
  font-weight: 600;
  font-size: medium;
  color: #414141;
  letter-spacing: -0.5px;
}

.fp-overflow{
  display: flex ;
  position: relative;
}
span{
  display: block;
}
.first_section{
  color: white;
  font: normal normal bold 2.6rem/3.3rem Roboto;
  width: 60%;
  margin-left: 20%;
  margin-top: 40%;
  white-space:nowrap;
}
.second_section{
  font: normal normal 600 1.9rem/2.6rem Pretendard;
  color: #191919;
  opacity: 1;
  white-space:nowrap;
}
#issue_2{
  display: block;
  font: normal normal 1rem/1.6rem Pretendard;
  font-weight: 600;
  font-size: medium;
  color: #414141;
  letter-spacing: -0.5px;
  white-space:nowrap;
}


footer{
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
#foot_1{
  font: normal normal 600 1.6rem/1.6rem Pretendard;
  letter-spacing: -0.8px;
  color: #1D2088;
}
#foot_2{
  font: normal normal 600 1.3rem/1.6rem Pretendard;
  font-size: medium;
  letter-spacing: -0.5px;
  color: #414141;
}
#foot_3{
  font: normal normal bold 1.2rem/2.8rem Pretendard;
  letter-spacing: -0.6px;
  color: #191919;
}
#footersec{
  height: 50%;
}
#footset{
  text-align: center;
  align-items: center;
  margin-top: 10px;
}


@media(max-width:1400px){
  #img0{
    width: 70vh;
  }
}

@media(max-width:1280px){
  .section{
   object-fit: none;
   height: 100vh;
   }
   .second_section{
     font-size: 10px;
   }
   .fourth_section{  
     margin-right: 100%;
   }
   
   #issue_3{
     width: 20%;
   }
   #fourth_one{
     white-space: nowrap;
   }
   #img0{
    width: 55vh;
    margin-bottom: 55%;
   }
   .second_section{
     font-size: 2rem;
   }
  #second{
   margin-top: 20%;
  }
  #market_2{
   white-space: nowrap;
  }
  
  .fp-overflow{
    overflow-x:hidden;
    overflow-y:hidden;
  }
  #third_first{
   min-width: 300px
  }
  .fp-overflow{
   align-items: center;
  }
}
@media(max-width:1070px) {
  #img1{
    display: none;
  }
  #img2{
    margin-left: 20%;
    width: 40vh;
  }
  #img0{
    margin-bottom:55%;
    width: 45vh;
  }
  
  .fp-overflow{
    width: 100vw;
  }
  #issue_3{
    position: relative;
   
  }
  .first{
    background-size: 220vh;
  }
}

@media(max-width:900px){
  .section{
   object-fit: none;

   }
   #fourth{
    flex-direction: row;
  }
   .fp-overflow{
     flex-direction: column;
     text-align: center;
   }
   
   .first_one{
    text-align: center;
   }
   #img1{
    display: block;
    height: 30vh;
    width: 30vh;
    margin-top: 0%;
   }
   #img2{
    height: 30vh;
    width: 30vh;
   }
   #image2{
    display: flex;
    margin-top: 5%;
   }
  
   #second_one{
    margin-right: 10%;
    margin-top: 10%;
   }
   #mar{
     margin-right: 200px;
   }
   .fourth_section{
     white-space: nowrap;
   }
   
   #fourth_one{
     white-space: nowrap;
     margin-top: 22%;
     margin-right: 25%;
   }
  #second{
   margin-top: 20%;
  }
  #market_2{
   white-space: nowrap;
  }
  .bro{
    display: none;
  }
  #issue_3{
    margin-right: 60%;
  }
 
  #first_one{
    margin-right: 20%;
    margin-top: 10%;
    white-space: wrap;
  }
  .first_section{
    white-space: wrap;
  }
  #footset{

    width: 200vw;
  }
  #img2{
    margin-left: 0%;
  }
  #img0{
    width: 60vh;
  }
}
@media(max-width:820px){
  #img0{
    width: 45vh;
    margin-left: 40%;
  }
}
@media(max-width:500px){
  .first_section{
    white-space: wrap;
    
  }
  #fs{
    margin-left:2%;
    font-size: 30px;
  }
  
  #issue_3{
    margin-right: 100%;
  }
  .section{
   object-fit: none;
   height: 100vh;
   }
   
   .first_one{
    text-align: center;
   }  
   #img2{
    min-width: 40vw;
   }
  #img1{
    display: none;
  }
  #image2{
    margin-right: 10%;
  }
   #second_one{
    margin-right: 60%;
   
   }
   #mar{
    margin-right: 60%;
   }
   
   #fourth_one{
     margin-top: 30%;
     margin-right: 70%;
   }
  #second{
   margin-top: 10%;
  }
  .bro{
    display: none;
  }
  .ja{
    white-space: nowrap;
  }
}
@media(max-width:420px){
  #img0{
    width: 40vh;
  }
}