.con{
    margin-top: 10%;
}
.ib{
    height: 40px;
}
@media(max-width:1280px){
    .con{
        margin-top: 15%;
        margin-left: 35%;
    }
}
@media(max-width:850px){
    .con{
        margin-top: 20%;
        margin-left: 28%;
    }
}
@media(max-width:700px){
    .con{
        margin-top: 25%;
        margin-left: 20%;
    }
}
@media(max-width:600px){
    .con{
        margin-left: 12%;
        margin-top: 30%;
    }
}