canvas{
    margin-bottom: 30%;
}
#box{
    margin-top: 10%;
}
@media(max-width:1280px){
    #box{
        width: 800px;
        height: 500px;
    }
    canvas{
        margin-bottom: 30%;
    }
}
@media(max-width:1000px){
    #box{
        width: 650px;
        margin-top: 10%;
    }
    canvas{
        margin-bottom: 50%;
    }
}



@media(max-width:680px){
    #box{
        width: 420px;
        height: 400px;
    }
    canvas{
        margin-bottom: 60%;
    }
}