.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #ffff;
  padding: 0 7%;
  border-bottom: 1px solid #e4e8eb;
  position: relative;
  z-index: 3;
}

.header a {
  font-size: 1.5rem;
  color: #000;
}

.logo {
  font-weight: bold;
}

@media (max-width:800px) {
  .header ul {
    flex-direction: column;
  }
}

.header ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-top: 18px;
  }
  
  .header li {
    font-size: 16px;
    margin-left: 3rem;
    font-weight: bold;
  }

  .header a:hover,
  .header a:active,
  .header a.active {
    color: #74b9ff;
  }